RewriteEngine On

RewriteRule ^looz/([^\/]*) all.php?wt=looz&nick=$1 [L]
RewriteRule ^refer/([^\/]*) refer.php?who=$1 [L]
RewriteRule ^all/([^\/]*) all.php?wt=$1 [L]
RewriteRule ^list/user/from/([0-9]*) all.php?wt=userl&from=$1 [L]
RewriteRule ^list/user/([^\/]*)/from/([0-9]*) all.php?wt=userl&order=$1&from=$2 [L]
RewriteRule ^list/user/([^\/]*) all.php?wt=userl&order=$1 [L]
RewriteRule ^list/user all.php?wt=userl [L]
RewriteRule ^list/blog/from/([0-9]*) all.php?wt=blogs&from=$1 [L]
RewriteRule ^list/blog/([^\/]*)/from/([0-9]*) all.php?wt=blogs&order=$1&from=$2 [L]
RewriteRule ^list/blog/([^\/]*) all.php?wt=blogs&order=$1 [L]
RewriteRule ^list/blog all.php?wt=blogs [L]

RewriteRule ^comment/([^\/]*)/from/([0-9]*) comments.php?who=$1&frm=$2 [L]
RewriteRule ^comment/([^\/]*) comments.php?who=$1 [L]
RewriteRule ^work/newpost/answ/([0-9]*) worked.php?wt=newpost&tp=answ&len=$1 [L]
RewriteRule ^work/editpost/([0-9]*) worked.php?wt=editpost&post=$1 [L]
RewriteRule ^work/editcom/([0-9]*) worked.php?wt=editcom&id=$1 [L]
RewriteRule ^work/rmcom/([0-9]*) twork.php?wt=rmcom&id=$1 [L]
RewriteRule ^work/rmblog/([0-9]*) twork.php?wt=killblog&id=$1 [L]
RewriteRule ^work/rmpost/([0-9]*) twork.php?wt=rmpost&id=$1 [L]
RewriteRule ^work/newpost/([^\/]*) worked.php?wt=newpost&tp=$1 [L]
RewriteRule ^work/newpost/ worked.php?wt=newpost [L]
RewriteRule ^work/newblog/ worked.php?wt=newblog [L]
RewriteRule ^work/pmls/out worked.php?wt=pmls&tp=1 [L]
RewriteRule ^work/pmls/ worked.php?wt=pmls&tp=$1 [L]
RewriteRule ^work/pmread/([^\/]*) worked.php?wt=pmread&id=$1 [L]
RewriteRule ^work/pmnew/([^\/]*) worked.php?wt=pmnew&name=$1 [L]
RewriteRule ^work/pmnew/ worked.php?wt=pmnew [L]
RewriteRule ^work/comment/([^\/]*)/([^\/]*)/(.*) worked.php?wt=comment&id=$1&lvl=$2&cur=$3 [L]
RewriteRule ^work/block/([^\/]*)/([^\/]*) worked.php?wt=block&type=$1&name=$2 [L]
RewriteRule ^work/editblog/([0-9]*) worked.php?wt=myblog&id=$1&single=1 [L]
RewriteRule ^user/([^\/]*) users.php?name=$1 [L]
RewriteRule ^work/([^\/]*) worked.php?wt=$1 [L]

RewriteRule ^blog/([0-9]*)/from/([0-9]*) index.php?blog=$1&frm=$2 [L]
RewriteRule ^from/([0-9]*)/(.*) index.php?frm=$1&fnd=$2 [L]
RewriteRule ^from/([0-9]*) index.php?frm=$1 [L]
RewriteRule ^post/([0-9]*)/from/([0-9]*)/ index.php?post=$1&frm=$2 [L]
RewriteRule ^auth/(.*)/from/([0-9]*) index.php?auth=$1&frm=$2 [L]
RewriteRule ^tag/(.*)/from/([0-9]*) index.php?tag=$1&frm=$2 [L]
RewriteRule ^lenta/from/([0-9]*) index.php?pg=lenta&frm=$1 [L]
RewriteRule ^main/from/([0-9]*) index.php?pg=main&frm=$1 [L]
RewriteRule ^pers/from/([0-9]*) index.php?pg=pers&frm=$1 [L]
RewriteRule ^post/([0-9]*) index.php?post=$1 [L]
RewriteRule ^blog/([0-9]*) index.php?blog=$1 [L]
RewriteRule ^auth/([^\/]*) index.php?auth=$1 [L]
RewriteRule ^tag/(.*) index.php?tag=$1 [L]

RewriteRule ^login/new login.php?new=1 [L]
RewriteRule ^login/(.*) login.php?cur=$1 [L]
RewriteRule ^main index.php?pg=main [L]
RewriteRule ^pers index.php?pg=pers [L]
RewriteRule ^lenta index.php?pg=lenta [L]
RewriteRule ^register register.php [L]
RewriteRule ^login login.php [L]

RewriteRule ^rss/blog/(.*) rss.php?blog=$1 [L]
RewriteRule ^rss/auth/(.*) rss.php?auth=$1 [L]
RewriteRule ^rss/lenta/(.*) rss.php?lenta=$1 [L]
RewriteRule ^rss/pers rss.php?pg=pers [L]
RewriteRule ^rss/main rss.php?pg=main [L]
RewriteRule ^rss rss.php [L]

RewriteRule ^draft/([0-9]*) worked.php?wt=editpost&post=$1&draft=1 [L]
RewriteRule ^draft/from/([0-9]*) index.php?draft=1&from=$1 [L]
RewriteRule ^draft index.php?draft=1 [L]

RewriteRule ^favourite index.php?favourite=1 [L]
RewriteRule ^like/([0-9]*) index.php?like=$1 [L]


RewriteRule ^ajax/(.*) index.php?ajax=$1 [L,QSA]