<?php
/*
 *     This file is part of 0byte.
 *
 *  0byte is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 2 of the License.
 *
 *  0byte is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  See <http://www.gnu.org/licenses/>.
 *
 */
// sql settings
$db_settings = 'mysql://test:test@localhost/test';

// acces level
$elvl=3;
$rlvl=5;
$blvl=7;
$hlvl=15;
// other cfg
$site="http://localhost/"; //full url like http://site.domain/dir/
$s_name="test";//site name
$ls_name=$s_name;
$sl_name='test';//short name
$dir="/";//dir
$eml="@localhost";//email end like @site.domain
$eml_a=0; //e-mail activation
$server_time="8";//server-GMT
// rates borders
$to_main=0;//rate for main page
$blog_r=4; //user rate by blog
$post_r=5; //user rate by post
$com_r=10; //user rate by comment
//rates acess
$nb_rate=0;//lvl for new blog
$np_rate=-10;//lvl for new post
$nc_rate=-20;//lvl for new comment
$ur_rate=5;//rate for rating user
$pr_rate=1;//rate for rating post
$cr_rate=-1;//rate for rating comment
$br_rate=1;//rate for rating blog
// plugins
$user = array();
$use['geshi'] = 1;
?>